@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.mainContact {
  margin-left: 17vw;

  background-color: rgb(240, 240, 240);
  width: 85vw;
  padding-left: 10px;
}

#contact {
  background-color: rgb(185, 185, 185);
}

.thanks {
  /* margin: auto; */
  padding-left: 2vw;
  padding-top: 7vh;
  /* text-align: left; */

  font-family: "Satisfy", cursive;
  font-size: 7.5vw;

  color: rgb(24, 6, 6);
}

.connect {
  font-family: "Raleway", sans-serif;
  padding-top: 20px;
  font-size: 3vw;
}

.profiles {
  display: flex;
  padding: 10px 0 0 5px;
}

.gmail a img {
  height: 8vw;
}

.linkedin a img {
  height: 8vw;
  padding-left: 30px;
}

.git a img {
  padding-left: 30px;
  height: 8vw;
}

.insta a img {
  padding-left: 30px;
  height: 8vw;
}

.faceBook a img {
  padding-left: 30px;
  height: 8vw;
}

@media screen and (orientation: portrait) {
  .thanks {
    /* margin-left: 10vw; */
    /* padding: 5vh 0 0 35px; */
    padding: 16px 0 0 16px;
  }

  .mainContact {
    padding-left: 0;
  }
}
